@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-shadow {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
}
.active {
  border-bottom: 2.25px solid white;
}
@media (min-width: 1918px) {
  .line {
    width: 59.5rem;
    height: 1px;
    position: absolute;
    left: 10rem;
    background: white;
    opacity: 0.2515;
    z-index: 20;
  }
  .navbar {
    position: relative;
  }
}
